<div class="bodycolor">
<div class="jumbotron">
	<div  class="container">
  	</div>
</div>


<a id="homeabout"></a>
<div class= "homeabout">
	<h1>	
		<a href=""> About Bendini</a>
	</h1>


	<p align="center">
	Since September of 2002, Bendini Fine Men's Clothing has strived to offer the Bergen County and Tri-State area market place the finest quality and 
	personal service taht is seldom experienced these days. Bendini focused 
	on delivering high quality service as well as fine men's clothing. It has been 
	noticed by Bergen Health & Life as the "Best Independent specialty 
	store for men in Bergen" in 2012.
	</p>

		<div style="text-align: center">
			<%=image_tag("mainpage.jpg", size: "500x500", alt: "Example Image", :class => "style_image")%>
			<%=image_tag("mainpage.jpg", size: "500x500",alt: "Example Image")%>
		</div>
</div>

<div class= "homecollection">
	<div class="Bendinicollection">
		<h1>
			<a href=""> Bendini Collection </a>
		</h1>
	</div>
	<div>
    <p style="float: left;">
		<%=image_tag("mainpage.jpg", size: "350x690", alt: "Example Image", :class => "style_mage")%>
		<%=image_tag("mainpage.jpg", size: "350x690", alt: "Example Image", :class => "style_mage")%>
		<div class="collectionbody"
  			<p>Bendini has a variety of men's clothing and accessories. Casual cltohing is much more just a T-shirt and jeans. It's a sense of relaxation and comfort. Since Bendini provides very fashionable clothing, looking good never felt so good. Some of the Brands that Bendini carries are: 
				<ol>Ed Baker</ol>
				<ol>Chiari</ol>
				<ol>Raffi</ol>
				<ol>And much more!</ol>
			</p>
		</div>
		<p>
			To see the full collection <a href=""> click here</a>
		</p>	
	</p>
</div>	

	</div>	

</div> 

<!-- List of brands : ed baker, chiari, raffi , toscano , bresciani , enzo , intl laundry , gianni marcelo heritage 34 jeans  montechiaro and much more -->
