$navbar-default-bg: #631616;



@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');

#logo {
	color: white;
	font-family: 'lobster', cursive;
	font-size: 50px;
	line-height: 35px;
}

body {
	padding-top: 50px;
	background: #fff2db;
	}


.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.jumbotron {
	background-image: image-url("mainpage.jpg");
	background-size: 100% 110%;
	height: 750px;	
	margin: 50px;
	border-radius: 25px;
}

.homeabout {
	height: 850px;
	margin:20px;
	padding-top: 25px;
	background-size: 300px;
	width: device-width;
	display: inline;	
}

.style_image {
	padding-right: 20px;

}
.homecollection {
	height: 900px;
	display: inline;
}

.collectionbody {
	color: black;
	font-size:20px;
	text-align: center;
	margin: 20px;
	font-weight: Bold;
	display: inline;
}

#item1 {
	color: white;
	font-size: 18px;
}

#item2 {
	font-size: 20px;
	font-weight: Bold;
	color: black;
	text-decoration: underline;
	display: inline;
	}

.homecollection {
	margin: 50px;
}

#map {
	height: 400px;
	width: 400px;
	margin-right: 30px;
	margin-bottom: 20px;	
}

footer {
   position: float;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#631616; 
   text-align: center;
}

h1 {
	color: #630909;
	font-size: 60px;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	text-decoration: underline;
	text-indent: 50px;
	padding-top: 50px;
	padding-left: 50px;
}

p {
	font-size: 20px;
	letter-spacing:2px;
	font-weight: Bold;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	color: black;
}


a {
	color: inherit;
}

ul {
	margin: 10px 0;
}

