$navbar-default-bg: #631616;



@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');

#logo {
	color: white;
	font-family: 'lobster', cursive;
	font-size: 40px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.jumbotron {
	background-image: url('mainpage.jpg');
	background-size: 100% 110%;
	height: 750px;	
	margin: 50px;
	border-radius: 25px;
}

homeabout {
	background: #d7dde5;
	height: 850px;
	margin:20px;
	border-radius: 25px;
	padding-top: 25px;
	
}

h1 {
	color: #630909;
	font-size: 70px;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	text-decoration: underline;
	text-indent: 50px;
	padding-top: 50px;
	padding-left: 50px;
}

p {
	font-size: 30px;
	letter-spacing:2px;
	font-weight: Bold;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	color: black;
}


a {
	color: inherit;
}

.style_image {
	padding-right: 20px;

}

.style_1image {
	padding-left: 20px;
	
}


body {
	background: #fff2db;
}

.collectionbody {
	color: black;
	font-size:30px;
	text-align: center;
	margin: 20px;
}

ul {
	margin: 10px 0;
}