$navbar-default-bg: #631616;



@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster');

#logo {
	color: white;
	font-family: 'lobster', cursive;
	font-size: 50px;
	line-height: 35px;
}

body {
	padding-top: 70px;
	background: #fff2db;
	}

.jumbotron {
	background:none;
	height: auto;
	border-radius: 25px;
	}

.carousel-inner{
	border-radius: 25px;
}


.navbar-nav {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}



.homeabout {
	height: 850px;
	margin:20px;
	padding-top: 25px;
	background-size: 300px;
	width: device-width;
	display: inline;	
}


.style_image {
	padding-right: 20px;

}
.homecollection {
	height: 850px;
	margin:20px;
	padding-top: 25px;
	background-size: 300px;
	width: device-width;
	display: inline;
	text-align: center;
}


.collectionbody {
	color: black;
	font-size:20px;
	margin: 20px;
	font-weight: Bold;
	display: inline;
	margin-bottom: 20px;
	}
	

.homecontact{
	position: relative;
	clear:both;
	display: inline;

}

#bendinicontact {
	right: 0;
	text-align: right;
	display: block;
	clear:both;
	padding-right: 30px;
}

.contactinfo {
	padding-top: 20px;
	padding-right: 20px;
	left: 0px;
	text-align: left;	
	display:inline;
}

#item1 {
	color: white;
	font-size: 18px;
}

#item2 {
	font-size: 20px;
	font-weight: Bold;
	color: black;
	text-decoration: underline;
	display: inline;
	}

#map {
	float: right;
	right: 0px;
	height: 400px;
	width: 800px;
	margin-right: 30px;
	margin-bottom: 20px;
	bottom: 280px;	
}

.fb-like {
	display: block;
}

footer {
   position: float;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background:#631616; 
   text-align: center;
}

h1 {
	color: #630909;
	font-size: 60px;
	letter-spacing: 2px;
	font-family: 'Lobster', cursive;
	text-decoration: underline;
	text-indent: 50px;
	padding-top: 50px;
	padding-left: 50px;
}

p {
	font-size: 20px;
	letter-spacing:2px;
	font-weight: Bold;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	color: black;
}


a {
	color: inherit;
}

ul {
	margin: 10px 0;
}





















