<div id="footer">
	<div id="footer-text">
	<%=link_to "Facebook", "https://www.facebook.com/bendinimenswear/", :target => "_blank" %>
	 | Telephone: 201-596-6935 | Email: Bendinimenswear@gmail.com 
	 <br>
	 	<div id="copyright">
			Website Designed by Alexis Chavez© 2017 Bendini. All rights reserved
		</div>
	</div> 
 </div>
